.hero {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 20px;
}
.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
}
@media only screen and (max-width: 900px) {
  .hero {
    grid-template-columns: 1fr;
  }
}
.swiper-pagination-bullet {
  background-color: white !important;
  opacity: 0.7;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}

.ant-btn-primary {
  background-color: #2563eb !important;
}

.ant-btn-primary:hover {
  background-color: #1d4ed8 !important;
}
@media (min-width: 768px) {
  .hero-section-wrapper {
    height: 400px;
  }
}