@import "tailwindcss";



* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.title{
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
}
@media only screen and (min-width: 100px) {
  .custom-menu {
    display: flex;
    justify-content: flex-start; /* Align menu items to the left */
    flex-wrap: nowrap; /* Prevent items from wrapping */
    gap: 20px; /* Add spacing between items */
    border: none; /* Remove Ant Design's default border */
    background: none; /* Remove Ant Design's background color */
  }

  .custom-menu .ant-menu-item {
    flex: 0 1 auto; /* Make items flexible and fit the content */
    text-align: center;
    font-size: 16px; /* Adjust the font size for better visibility */
  }

  .custom-menu .ant-menu-item:hover {
    color: #1890ff; /* Optional: Add hover effect */
  }
}
